PORT=3000
NODE_ENV=development
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=video.events
RABBITMQ_ROUTING_KEY=video.watched
JWT_SECRET=dev-secret
METADATA_SERVICE_URL=http://metadata-service:3000
