DB_HOST=metadata-db
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=metadata-db
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_QUEUE=video.segmentation.queue
RABBITMQ_QUEUE=video.events