DB_HOST=metadata-db
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=metadata-db
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=video.events
RABBITMQ_QUEUE=metadata.queue
RABBITMQ_ROUTING_KEY=video.*
RABBITMQ_DLQ=metadata.dlq
JWT_SECRET=dev-secret