NODE_ENV=development

DATABASE_HOST=upload-db
DATABASE_PORT=5432
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_NAME=upload_db

MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_RAW_UPLOADS_BUCKET=raw-uploads
MINIO_STREAMING_ASSETS_BUCKET=streaming-assets

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=video.events
RABBITMQ_QUEUE=video.segmentation.queue
RABBITMQ_ROUTING_KEY=video.uploaded
RABBITMQ_DLQ=video.segmentation.dlq
